.nav-opener {
	position: absolute;
	height: 21px;
	width: 35px;
	z-index: 100;

}

.nav-opener:before,
.nav-opener:after {
	content: '';
	display: block;
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #fff;
}

.nav-opener span {
	display: block;
	top: 0;
	text-indent: -9999px;
	transition: transform 0.3s;
}

.nav-opener:before {
	top: 9px;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-opener:after {
	bottom: 0;
	transition: transform 0.3s;
}


.drop {
	padding: 60px 20px 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(135deg, #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
	transform: translateX(-100%);
	transition: transform 0.3s;
}

.active-nav .drop {
	transform: translateX(0);
	transition: transform 0.3s;
}

.active-nav .nav-opener:before {
	opacity: 0;
	transform: translateX(-50%);
	transition: transform 0.3s, opacity 0.1s ease 0.1s;
}

.active-nav .nav-opener:after {
	bottom: auto;
	top: 9px;
	transform: rotate(-45deg);
}

.active-nav .nav-opener span {
	top: 9px;
	transform: rotate(45deg);
}

.location-item {
	padding: 10px 10px 10px 50px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #f5f9f0;
	text-align: right;
}

.location-item .btn-delete {
	position: absolute;
	top: 10px;
	left: 10px;
}

.location-item .temp {
	display: block;
	text-align: right;
}