.nav-opener {
	position: absolute;
	height: 21px;
	width: 35px;
	z-index: 10;

}

.nav-opener:before,
.nav-opener:after {
	content: '';
	display: block;
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #fff;
}

.nav-opener span {
	display: block;
	top: 0;
	text-indent: -9999px;
	transition: transform 0.3s;
}

.nav-opener:before {
	top: 9px;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-opener:after {
	bottom: 0;
	transition: transform 0.3s;
}


.drop {
	padding: 60px 20px 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: linear-gradient(135deg, #d2dfed 0%,#c8d7eb 26%,#bed0ea 51%,#a6c0e3 51%,#afc7e8 62%,#bad0ef 75%,#99b5db 88%,#799bc8 100%);
	transform: translateX(-100%);
	z-index: 20;
	transition: transform 0.3s;
}

.drop .nav-opener{
	top: 20px;
	right: 20px;
}

.active-nav .drop {
	transform: translateX(0);
	transition: transform 0.3s;
}

.drop .nav-opener:before {
	opacity: 0;
	transform: translateX(-50%);
	transition: transform 0.3s, opacity 0.1s ease 0.1s;
}

.drop .nav-opener:after {
	bottom: auto;
	top: 9px;
	transform: rotate(-45deg);
}

.drop .nav-opener span {
	top: 9px;
	transform: rotate(45deg);
}

.location-item {
	padding: 10px 10px 10px 50px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #f5f9f0;
	text-align: right;
}

.location-item .btn-delete {
	position: absolute;
	top: 10px;
	left: 10px;
}

.location-item .temp {
	display: block;
	text-align: right;
}



.search-container {
	padding: 50px 20px 20px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	background: linear-gradient(135deg, rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%);
	z-index: 200;
}

.list-location {
	position: relative;
}

.btn-close {
	position: absolute;
	top: 20px;
	right: 20px;
}

.form-control { 
	padding: 5px 10px;
	width: 100%;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	outline: 0;
 }



/*------------------------------------------------------------*/
 .search-result {
	margin: 0;
	padding: 20px 0;
 }