* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font: 14px "Century Gothic", Futura, sans-serif;
}

ol, ul {
  padding-left: 30px;
}

.app {
  padding: 15px;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  color: white;
}

